/*
*_bak
########################################################
!.atom/
.atom/*
!.atom/keymap.cson
!.config/
.config/*
!.config/termite/
!.config/twmn/
.config/twmn/*
!.config/twmn/twmn.conf
!.config/ranger/
.config/ranger/*
!.config/ranger/rc.conf
!.config/ranger/commands.py
!.config/fontconfig/
!.config/autostart/
!.i3/
!.newsboat/
.newsboat/*
!.newsboat/config
!.newsboat/urls
!.spacemacs.d/
.spacemacs.d/*
!.spacemacs.d/init.el
!.vimperator/
.vimperator/*
!.vimperator/colors/
########################################################
!README.md
!.asoundrc
!.bash_logout
!.bash_profile
!.bashrc
!.compton.conf
!.gitconfig
!.gitignore
!.nanorc
!.tmux.conf
!.vimperatorrc
!.xinitrc
!.xprofile
!.vimrc
!.xmodmap
!.Xrecources
!.zprofile
!.zshrc
