[Desktop Entry]
Categories=Qt;KDE;Utility;TextTools;X-KDE-Utilities-Desktop;
Comment[en_US]=
Comment=
Exec=knotes
Icon=knotes
MimeType=
Name[en_US]=KNotes
Name=KNotes
Path=
StartupNotify=false
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=org.kde.knotes
X-DBUS-StartupType=unique
X-DocPath=knotes/index.html
X-KDE-SubstituteUID=false
X-KDE-Username=
